$corPrimary-1:#131517;
$corPrimary-2:#1A1C1E;
$corPrimary-3:#272A30;
$corSecond-1:#AAD6EE;
$corSecond-2:#AFE5B1;
$corSecond-3:#FEBF90;
$corSecond-4:#7C8FE6;

$letter:#616265;
$white:#FBFBFB;
$select:#2A86FF;