@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap");
.content {
  border-radius: 0px 10px 10px 0px;
  padding: 0;
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.content::-webkit-scrollbar-thumb {
  background-color: #131517;
  border-radius: 10px;
}
.content header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #272A30;
  padding: 4% 2%;
  width: 100%;
}
.content header img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.content header .data {
  display: flex;
  gap: 20px;
  align-items: center;
}
.content header .data .data__title {
  color: #FBFBFB;
}
.content header .data .data__link {
  grid-column: 2/2;
}
.content header .data .data__values {
  align-self: flex-start;
  background-color: #AFE5B1;
  padding: 2% 4%;
  margin-top: 5px;
  border-radius: 10px;
  color: #131517;
  font-weight: bold;
}
.content header .selects {
  padding: 10px;
  display: flex;
  gap: 20px;
}
.content header .selects .selects__filter:nth-child(1) i {
  color: #7C8FE6;
}
.content .container {
  padding: 4% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}
.content .container .camp__seach {
  padding: 4% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1A1C1E;
}
.content .container .camp__seach input {
  background-color: #272A30;
  width: 90%;
  padding: 2%;
  border-radius: 5px;
}
.content .container .camp__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .container .camp__form .btns {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  border-radius: 10px;
  background-color: #131517;
  width: 88%;
  gap: 10px;
}
.content .container .camp__form .btns .btn {
  cursor: pointer;
  padding: 2% 4%;
  border-radius: 5px;
  flex-grow: 1;
  background-color: #272A30;
  color: #FBFBFB;
}
.content .container .camp__form .notes {
  padding: 4%;
}
.content .container .camp__form .notes textarea {
  border: none;
  padding: 10px;
  width: 350px;
  max-height: 200px;
  background-color: #272A30;
  border-radius: 10px;
}
.content .container .camp__messages {
  padding: 2% 4%;
  overflow-y: auto;
  max-height: 300px;
}
.content .container .camp__messages::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.content .container .camp__messages::-webkit-scrollbar-thumb {
  background-color: #131517;
  border-radius: 10px;
}
.content .container .camp__messages .merket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .container .camp__messages .merket .title__messages {
  color: #FBFBFB;
}
.content .container .camp__messages .merket .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content .container .camp__messages .merket .btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #272A30;
}
.content .container .camp__messages .merket .btns .btn i {
  font-size: 15px;
}
.content .container .camp__messages .merket .btns .btn:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
  background-color: #FEBF90;
  color: #131517;
}
.content .container .camp__messages .merket .btns .btn:nth-child(1) {
  border-radius: 100%;
}
.content .container .camp__messages .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
  gap: 20px;
  width: 100%;
}
.content .container .camp__messages .messages .message {
  display: flex;
  align-items: center;
  width: 100%;
}
.content .container .camp__messages .messages .message .message__img {
  display: inline;
  border-radius: 5px;
  padding: 4px;
  width: 50px;
  height: 50px;
  background-color: #272A30;
}
.content .container .camp__messages .messages .message .message__descreption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 2% 4%;
}
.content .container .camp__messages .messages .message .message__descreption h2 {
  font-size: 18px;
  color: #FBFBFB;
}
.content .container .camp__messages .messages .message .message__status {
  margin-left: auto;
  padding: 5px;
  border-radius: 100%;
  background-color: #272A30;
  width: 10px;
  height: 10px;
}
.content .container .camp__messages .messages .message .regular {
  background-color: rgb(214, 190, 70);
  box-shadow: 0px 0px 10px rgb(214, 190, 70);
}
.content .container .camp__messages .messages .message .nice {
  background-color: #2A86FF;
  box-shadow: 0px 0px 10px #2A86FF;
}
.content .container .camp__messages .messages .message .important {
  background-color: rgb(203, 58, 58);
  box-shadow: 0px 0px 10px rgb(203, 58, 58);
}
.content .container .camp__messages .messages .message:nth-child(1) .message__img {
  background-color: #AAD6EE;
}
.content .container .camp__messages .messages .message:nth-child(2) .message__img {
  background-color: #AFE5B1;
}
.content .container .camp__messages .messages .message:nth-child(3) .message__img {
  background-color: #FEBF90;
}
.content .container .merket,
.content .container .status,
.content .container .contacts {
  padding: 2% 4%;
}
.content .container .merket h2,
.content .container .status h2,
.content .container .contacts h2 {
  color: #FBFBFB;
}
.content .container .status .status__dices .dice {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #272A30;
  padding: 4% 0%;
}
.content .container .status .status__dices .dice p {
  font-weight: 600;
}
.content .container .status .status__dices .dice .names {
  display: flex;
  gap: 10px;
}
.content .container .status .status__dices .dice .names i {
  text-align: center;
  width: 30px;
}
.content .container .status .status__dices .dice .value .value__describe {
  color: #FBFBFB;
}
.content .container .status .status__dices .dice:nth-child(3) .value {
  padding: 1% 2%;
  background-color: #AFE5B1;
  border-radius: 5px;
}
.content .container .status .status__dices .dice:nth-child(3) .value .value__describe {
  color: #131517;
}
.content .container .contacts {
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.content .container .contacts .btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 2.5% 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #272A30;
  gap: 10px;
}
.content .container .contacts .btn:hover {
  transition: all;
  transition-duration: 200ms;
  background-color: #2A86FF;
}
.content .container .contacts .btn:hover i,
.content .container .contacts .btn:hover p {
  color: #FBFBFB;
}

.menu {
  width: 80px;
  border-radius: 10px 0px 0px 10px;
  justify-content: space-between;
}
.menu .links,
.menu .mode,
.menu .soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .soon {
  background-color: #FBFBFB;
  padding: 10px;
  border-radius: 10px;
}
.menu .soon i {
  font-size: 30px;
  color: #131517;
}
.menu .mode {
  gap: 15px;
}
.menu .mode .mode__add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background-color: #2A86FF;
}
.menu .mode .mode__add i {
  color: #FBFBFB;
}
.menu .mode .mode__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #272A30;
  box-shadow: 1px 1px 5px #131517;
}
.menu .mode .mode__dark i {
  color: #FBFBFB;
}
.menu .menu__nav .links {
  cursor: pointer;
}
.menu .menu__nav .links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}
.menu .menu__nav .links .link:hover {
  background-color: #272A30;
}
.menu .menu__nav .links .link:hover i {
  color: #FBFBFB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #616265;
}
* input, * button {
  border: none;
  outline: none;
}
* i {
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 35, 37);
  height: 100vh;
  backdrop-filter: blur(5px);
}

main {
  display: flex;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border-radius: 10px;
}

.content,
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1C1E;
  height: 90vh;
  border-top: 1px solid #272A30;
  border-bottom: 1px solid #272A30;
}

.container {
  padding: 4% 2%;
}

.menu {
  padding: 4% 2%;
  border-right: 1px solid #272A30;
}

.content {
  min-width: 400px;
}

/*# sourceMappingURL=global.css.map */
